* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 0);
}

/* Navbar */

.navigation {
    height: 65px;
    background-color: rgb(52, 21, 136);
}

.navigation h1 {
    text-align: center;
    color: aqua;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 35px;
}

/* Main-Content */

.logo {
    padding-top: 10px;
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.container h1{
    text-align: center;
    color: rgb(234, 0, 255);
    font-weight: 900;
    font-size: 3rem;
}

.container p{
    padding: 0 20px;
    text-align: justify;
    color: rgb(0, 151, 238);
    font-size: 1.8rem;
}

.container p span{
    color: red;
    font-size: 2.2rem;
    font-weight: 900;
}

.main-content{
    text-align: center;
    padding: 40px;
}

.main-content summary{
    font-size: 2.2rem;
    color: red;
    font-weight: 900;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid rgb(0, 194, 243);
}

.main-content p{
    padding: 15px;
    background-color: aqua;
}

/* Python-Course */

.heading {
    min-height: 85vh;
    background-color: black;
    color: white;
    width: 70%;
    margin: 20px auto;
    border-radius: 12px;
    padding: 34px;
}

.heading h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.container-python{
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(199, 45, 71);
    height: 70px;
    border-radius: 20px;
    padding: 5px 0;
    background-color: rgb(85, 8, 104);
}

.container-python a{
    text-decoration: none;
    color: brown;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.container-python span{
  text-align: justify;
  color: bisque;
}